.section .main-banner {
  h1 {
    font-size: 46px;
    line-height: 56px;

    span {
      font-weight: 600;
      color: #0078d1;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #3c3c3c;
    margin-top: 30px;
  }
}


.section-title h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  color: #0078d1;
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
}

.section .banner {
  padding: 0 100px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: 24px;
    line-height: 36px;
  }

  p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #3c3c3c;
  }

  .left-container {
    display: flex;
    flex-flow: column;
    flex: 1;

    .mat-mdc-list {
      width: 100%;
    }

  }

  .right-container {
    text-align: right;
    width: 50%;

    img {
      width: 85%;
    }
  }
}

.mat-list-item img {
  width: 50px;
}

.reverse {
  .left-container > * {
    text-align: right;
    align-self: flex-end;
  }

  .right-container > * {
    float: left;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .section-title h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .section .banner p {
    font-size: 18px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .section .banner {
    .left-container {
      justify-content: center;
      align-items: flex-start;

      h1 {
        font-size: 32px;
        line-height: 44px;
        text-align: left;
      }

      h2 {
        font-size: 18px;
        margin-top: 20px;
        text-align: left;
      }
    }

    .right-container {
      text-align: center;
    }
  }
  .section-title h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
}

.submit-container {
  display: flex;
  gap: 2em;
}

@media screen and (max-width: 870px) {
  .section .banner {
    flex-flow: column-reverse;

    .left-container {
      align-items: flex-start;
      margin-top: 50px;

      h1, h2 {
        text-align: left;
      }
    }

    .right-container {
      margin-top: 60px;
      width: 100%;
    }
  }

  .section .reverse {
    flex-flow: column;
  }

}
