.signup {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row;
  font-family: "Montserrat", sans-serif;
}

.discash-banner {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.signup .signup-section {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 50%;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.discash-banner .cancel-banner {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 25px;
  height: 20px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

svg:not(:root) {
  overflow: hidden;
}

.signup .go-back-arrow {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 40px;
  color: #000;
  font-weight: 400;
  cursor: pointer;
}

.discash-banner .banner-img {
  height: 100%;
}

.form-section, .form-section .signup-header {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.form-section {
  width: 100%;
  padding: 70px;
  box-sizing: border-box;
}

.form-section, form-section .signup-header {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.form-section .signup-header img.discash-logo {
  width: 280px;
}

.form-section h1 {
  font-size: 17px;
  color: #4d4f5c;
  font-weight: 400;
  margin-top: 40px;
}

.form-section .input-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.form-section .input-section form .inputs {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.form-section .input-section form .inputs .company-inputs {
  flex-flow: column;
  margin: 0;
}

.form-section .input-section form .inputs .products-inputs, .form-section .input-section form .inputs .products-inputs .input-block {
  width: 100%;
}

.form-section .input-section form .inputs .input-row {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0 0;
}

.form-section .input-section form .inputs .input-column {
  display: flex;
  flex-flow: column;
  margin: 20px 0;
  z-index: 0;
}

.signup .newsletter-subscription-container {
  margin: 20px 0;
  width: 100%;
  position: relative;
}

.form-section .input-section form {
  width: 100%;
}

.form-section .input-section form .inputs .company-inputs {
  flex-flow: column;
  margin: 0;
}

.form-section .input-section form .inputs .input-row .input-block .input-label {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000;
  font-weight: 500;
}

.mat-icon {
  color: lightgray;
}

mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color:hover {
  color: gray !important;
  cursor: pointer !important;
}

.form-section .input-section form .inputs .input-row .input-block {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
}


.mat-mdc-form-field {
  width: 100%;
}

.required-star {
  color: red;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__title {
  font-size: 24px !important;
  font-weight: 600 !important;
}

@media screen and (max-width: 1280px) {
  .discash-banner {
    display: none;
  }
  .signup .go-back-arrow {
    display: inline;
  }
  .signup .signup-section {
    width: 90%;
    top: auto;
    left: auto;
    margin: auto;
  }
  .form-section .input-section form .inputs .company-inputs .input-block {
    margin: 20px 0;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  ::ng-deep .new-payment-method-panel, .enable-payment-method-panel {
    height: 100% !important;
  }

  ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0 !important;
  }

  ::ng-deep .mat-mdc-dialog-content {
    max-height: unset !important;
  }
}

@media screen and (max-width: 520px) {
  .form-section {
    padding: 0 !important;
  }

}

.error-container {
  min-height: 30px;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.25);
  color: #a21919;
  border-radius: 20px;
  justify-content: center;
  display: flex;
}

.error-placeholder {
  min-height: 40px;
  width: 100%;
}
