
table {
  background-color: var(--light-gray);
  width: 100%;
  table-layout: fixed;
  box-shadow: none !important;
}

table {
  border-collapse: collapse;
  border-radius: 28px 28px 0 0;
  overflow: hidden;
}

th, td {
  padding: 1em;
  border-bottom: 2px solid white;
}

.mat-cell {
  padding: 10px 10px !important;
}

.mat-header-cell, .mat-sort-header-arrow {
  color: black !important;
}

.filter {
  background-color: var(--light-gray);
  width: 100%;
  border-radius: 28px;
  padding: 20px;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  img {
    width: 30px;
    aspect-ratio: 1;
    height: 30px;

  }

  p {
    flex: 1;
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.mat-mdc-paginator {
  width: 100%;
}

.column-banner {
  flex-direction: column !important;
  margin-top: 10px !important;
}

::ng-deep .filter .mat-form-field-wrapper {
  padding: 0;
}

::ng-deep .mat-mdc-paginator-container {
  background-color: #f2f2f2 !important;
  border-radius: 0 0 28px 28px !important;
}
