.homepage .navigation-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 30px;
  height: 50px;
  min-width: fit-content;
  justify-content: space-between;
  opacity: 1;
  transition: 0.5s ease-in;

  img {
    width: 250px;
    aspect-ratio: 1.5;
  }
}

.homepage .navigation-section:hover {
  cursor: pointer;
}

.homepage .left-coming {
  padding: 20px 10% 20px 10%;
  border-radius: 0 133px 133px 0;
  margin-right: 30%;
  background: rgba(211, 211, 211, 0.3);
  text-align: right;
  transition: background 0.5s ease-in;
}

.homepage .right-coming {
  padding: 20px 10% 20px 10%;
  border-radius: 133px 0 0 133px;
  margin-left: 30%;
  background: rgba(211, 211, 211, 0.30);
  text-align: left;
  z-index: 2;
}

.navigation-section h1 {
  flex: 1;
}

.homepage:hover .navigation-section{
  opacity: 0.5;
}

.homepage .navigation-section:hover{
  opacity: 1;
}

@media screen and (min-height: 800px) {
  .homepage .navigation-section {

    height: 100px;

  }
}
