<app-header></app-header>
<div class="homepage">

  <div class="navigation-section right-coming" style="margin-top: 0;" routerLink="/payment-services">
  <h1>Services</h1>
    <img
      src="https://d18fuqpnk61mcc.cloudfront.net/build/images/payment-service-providers/api-banking-solution-payment-service-providers.svg" alt="Payment Service Provider">
  </div>
  <div class="navigation-section left-coming" routerLink="/history">
    <img
      src="https://d18fuqpnk61mcc.cloudfront.net/build/images/resources/banner.svg" alt="Payment Service Provider">
    <h1>History</h1>

  </div>
  <div class="navigation-section right-coming" routerLink="/profile">
    <h1>Profile</h1>

    <img
      src="https://d18fuqpnk61mcc.cloudfront.net/build/images/careers/talent-and-expertise.svg" alt="Payment Service Provider">
  </div>
  <div class="navigation-section left-coming" routerLink="/developers">
    <img
      src="https://d18fuqpnk61mcc.cloudfront.net/build/images/careers/banner.svg" alt="Payment Service Provider">
    <h1>Developers</h1>

  </div>
</div>
