<header >
  <div class="menu-full">
    <div class="left"><a><img src="assets/logo.png" alt="Discash logo"></a></div>
    <div class="right" *ngIf="!isHome">
      <ul>
        <li><button mat-button routerLink="history">History</button></li>
        <li><button mat-button routerLink="services">Services</button></li>
        <li><button mat-button routerLink="profile">Profile</button></li>
        <li><button mat-button routerLink="developers">Developers</button></li>
      </ul>

    </div>
  </div>
</header>

