<header>
  <div class="menu-full">
    <div class="left"><a><img alt="Discash logo" routerLink="/" src="assets/logo.png"></a></div>
    <div *ngIf="isHome" class="right">
      <ul>
        <li>
          <button (click)="onLogOut()" *ngIf="getToken()" mat-button>Log out</button>
        </li>
      </ul>
    </div>
    <div *ngIf="!isHome && !isPaymentOrEmpty" class="right">
      <div *ngIf="show">

        <ul *ngIf="user.permissions.includes('ROLE_USER')">
          <li>
            <button mat-button routerLink="/history">History</button>
          </li>
          <li>
            <button mat-button routerLink="/payment-services">Services</button>
          </li>
          <li>
            <button mat-button routerLink="/profile">Profile</button>
          </li>
          <li>
            <button (click)="onDevelopers()" mat-button>Developers</button>
          </li>
          <li>
            <button (click)="onLogOut()" mat-button>Log out</button>
          </li>
        </ul>
        <ul *ngIf="user.permissions.includes('ROLE_ADMIN')">

          <li>
            <button mat-button routerLink="/user-manager">Users</button>
          </li>
          <li>
            <button mat-button routerLink="/payment-service-manager">Services</button>
          </li>
          <li>
            <button mat-button routerLink="/profile">Profile</button>
          </li>
          <li>
            <button (click)="onDevelopers()" mat-button>Developers</button>
          </li>
          <li>
            <button (click)="onLogOut()" mat-button>Log out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

