<header>
  <div class="menu-full">
    <div class="left"><a><img alt="Discash logo" routerLink="/" src="assets/logo.png"></a></div>
    <div *ngIf="isHome" class="right">
      <ul >
        <li>
          <button mat-button (click)="onLogOut()">Log out</button>
        </li>
      </ul>
    </div>
    <div *ngIf="!isHome && !isPaymentOrEmpty" class="right">
      <ul *ngIf="user.permissions.includes('user')">
        <li>
          <button mat-button routerLink="/history">History</button>
        </li>
        <li>
          <button mat-button routerLink="/payment-services">Services</button>
        </li>
        <li>
          <button mat-button routerLink="/profile">Profile</button>
        </li>
        <li>
          <button mat-button (click)="onDevelopers()">Developers</button>
        </li>
        <li>
          <button mat-button (click)="onLogOut()">Log out</button>
        </li>
      </ul>

      <ul *ngIf="user.permissions.includes('admin')" >
        <li>
          <button mat-button routerLink="/user-manager">Users</button>
        </li>
        <li>
          <button mat-button routerLink="/payment-service-manager">Services</button>
        </li>
        <li>
          <button mat-button routerLink="/profile">Profile</button>
        </li>
        <li>
          <button mat-button (click)="onDevelopers()">Developers</button>
        </li>
        <li>
          <button mat-button (click)="onLogOut()">Log out</button>
        </li>
      </ul>
    </div>
  </div>
</header>

