::ng-deep .enable-payment-method-panel > .mat-mdc-dialog-container {
  max-width: 45rem;
  text-align: center;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
  border-radius: 20px !important;
}

.mat-mdc-dialog-title{
  font-family: "Montserrat", sans-serif!important;
}

.form-section {
  padding: 10px 50px !important;
}

.form-section .input-section form .inputs .company-inputs .input-block {
  margin: 0 !important;
}

.new-payment-dialog-content > p {
  margin-top: 30px;
  font-size: 17px;
}

.mat-mdc-dialog-actions {
  justify-content: space-evenly;
}
