<div class="page">
  <app-header></app-header>
  <div class="section ">
    <div class="content main-banner">
      <h1><span>Choose payment method</span></h1>
      <h2>After you choose one of the payment methods, you will have to fill out additional payment information.</h2>
      <div class="payment-methods">
        <div (click)="onChooseMethod(service.paymentMethod.id)" *ngFor="let service of enabledPaymentService"
             class="payment-card">
          <img
            [alt]="service.paymentMethod.name"
            [src]="service.paymentMethod.imagePath">
          <h2>{{service.paymentMethod.name}}</h2>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="section main-banner">

</div>
