
.signup .signup-section .form-section .input-section form .inputs .company-inputs .input-block,
.signup .signup-section .form-section .input-section form .inputs .contact-inputs .input-block {
  margin: 20px 0;
  width: 100%;
  position: relative;
}


p[id='confirmPasswordLabel']{
  margin-top: 20px;
}

.mat-mdc-form-field-error{
  height: 0;
}
