<div class="signup">
  <div class="discash-banner">
    <svg aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14 cancel-banner" data-icon="arrow-left"
         data-prefix="fas"
         focusable="false" role="img" routerLink="/"
         viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"
        fill="currentColor"></path>
    </svg>
    <img alt="banner" class="banner-img" src="https://d18fuqpnk61mcc.cloudfront.net/build/images/signup-bg-banner.svg">
  </div>
  <div class="signup-section">
    <div class="form-section">
      <svg aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14 go-back-arrow" data-icon="arrow-left"
           data-prefix="fas" focusable="false"
           role="img" routerLink="/" viewBox="0 0 448 512"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"
          fill="currentColor"></path>
      </svg>
      <div class="signup-header"><img alt="logo" class="discash-logo" src="assets/logo.png">
        <h1>Help us out with some details, and we’ll reach out to you!</h1></div>
      <div class="input-section">
        <form autocomplete="off">
          <div class="inputs">
            <div class="name-inputs input-row">
              <div class="input-block">
                <div class="required-field-container">
                  <p class="input-label first-name-input-label"
                     id="firstNameLabel">First Name<span
                    *ngIf="checkRequired('firstName')" class="required-star">*</span></p>
                </div>

                <mat-form-field appearance="outline">
                  <input [formControl]="firstName" class="first-name-input" data-field="first_name"
                         data-label="firstNameLabel"
                         data-required="firstNameRequired" matInput name="first-name"
                         placeholder="" type="text">
                </mat-form-field>
              </div>
              <div class="input-block">
                <div class="required-field-container"><p class="input-label last-name-input-label" id="lastNameLabel">
                  Last Name<span
                  *ngIf="checkRequired('lastName')" class="required-star">*</span></p>
                </div>

                <mat-form-field appearance="outline">
                  <input [formControl]="lastName" class="last-name-input" data-field="last_name"
                         data-label="lastNameLabel"
                         data-required="lastNameRequired" matInput name="last-name"
                         placeholder="" type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="contact-inputs input-row">
              <div class="contact-email-input input-block">
                <div class="required-field-container"><p class="input-label email-input-label" id="emailLabel">
                  Email<span
                  *ngIf="checkRequired('email')" class="required-star">*</span></p>
                </div>
                <mat-form-field appearance="outline">
                  <input [formControl]="email" class="email-input" data-field="email_id" data-label="emailLabel"
                         data-required="emailRequired" matInput autocomplete="username"
                         name="email-input" placeholder="" required="" type="email">
                </mat-form-field>
              </div>
            </div>
            <div class="company-inputs input-row">
              <div class="company-name-input input-block">
                <div class="required-field-container"><p class="input-label company-name-label" id="companyNameLabel">
                  Company<span
                  *ngIf="checkRequired('companyName')" class="required-star">*</span></p>
                </div>

                <mat-form-field appearance="outline">
                  <input [formControl]="company" class="company-name" data-field="company" data-label="companyNameLabel"
                         data-required="companyNameRequired" matInput
                         name="company-name" placeholder="" required="" type="text">
                </mat-form-field>
              </div>
                <div class="company-name-input input-block">
                  <div class="required-field-container"><p class="input-label company-name-label" id="bankLabel">
                    Bank<span
                    *ngIf="checkRequired('bank')" class="required-star">*</span></p>
                  </div>

                  <mat-form-field appearance="outline">
                    <mat-select [formControl]="bank">
                      <mat-option *ngFor="let bankEl of allBanks" [value]="bankEl">{{bankEl.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class="city-name-input input-block">
                <div class="required-field-container"><p class="input-label" id="cityLabel">What are you endpoints for transactions with different outcomes?<span
                    *ngIf="checkRequired('successUrl')" class="required-star">*</span></p></div>
                <mat-form-field appearance="outline">
                  <input [formControl]="successUrl"
                         aria-label="Success URL"
                         matInput
                         placeholder="Success URL"
                         type="text">

                </mat-form-field>
                <mat-form-field appearance="outline">
                  <input [formControl]="failedUrl"
                         aria-label="Failed URL"
                         matInput
                         placeholder="Failed URL"
                         type="text">

                </mat-form-field>
                <mat-form-field appearance="outline">
                  <input [formControl]="errorUrl"
                         aria-label="Error URL"
                         matInput
                         placeholder="Error URL"
                         type="text">

                </mat-form-field>
              </div>
              <div class="password-input input-block">
                <div class="required-field-container"><p class="input-label" id="passwordLabel">Password<span
                  *ngIf="checkRequired('password')" class="required-star">*</span></p></div>
                <mat-form-field appearance="outline">
                  <input [formControl]="password"
                         [type]="hidePassword ? 'password' : 'text'"
                         aria-label="Password"
                         matInput
                         placeholder="Password">
                  <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hidePassword"
                          mat-icon-button
                          matSuffix type="button">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div class="required-field-container"><p class="input-label" id="confirmPasswordLabel">Confirm
                  Password<span
                    *ngIf="checkRequired('confirmPassword')" class="required-star">*</span></p></div>
                <mat-form-field appearance="outline">
                  <input [formControl]="confirmPassword"
                         [type]="hideConfirmPassword ? 'password' : 'text'"
                         aria-label="Confirm Password"
                         matInput
                         placeholder="Confirm Password">
                  <button (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hideConfirmPassword"
                          mat-icon-button
                          matSuffix type="button">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="submit-container">
        <button (click)="signUp()" class="blue-green-btn">Let’s Connect<span id="loader"></span></button>
      </div>
    </div>
  </div>
</div>
