<app-header></app-header>
<div class="section">
  <div class="banner main-banner">
    <div class="left-container">
      <h1><span>Payment History</span></h1>
      <h2>See all payments associated with your company. Use advanced search and filters to learn more about specific
        payments.</h2>

    </div>
    <div class="right-container">
      <img
        alt="Payment Service Provider" src="https://d18fuqpnk61mcc.cloudfront.net/build/images/resources/banner.svg">
    </div>
  </div>
</div>
<div class="section">
  <div class="banner">
    <div class="filter">
      <form [formGroup]="filterForm" class="filter-form">
        <div class="service-container">
          <p>Service</p>
          <mat-form-field appearance="outline">
            <mat-select [formControl]="service" placeholder="Service">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let service of allPaymentServices" [value]="service.id">
                <div class="option">

                  <img [alt]="service.name + ' image'" [src]="'../../../assets/' + service.serviceName + '.png'">
                  <p>{{service.name}}</p>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="status-container">
          <p>Status</p>
          <mat-form-field appearance="outline">
            <mat-select [formControl]="status" placeholder="Status">
              <mat-option>None</mat-option>
              <mat-option value="SUCCESS">
                <div class="option">
                  <div>
                    <mat-icon class="finished-icon" svgIcon="finished" ></mat-icon>
                  </div>
                  <p>Successful</p>
                </div>
              </mat-option>
              <mat-option value="FAILED">
                <div class="option">
                  <mat-icon class="canceled-icon" svgIcon="failed" ></mat-icon>
                  <p>Failed</p>
                </div>
              </mat-option>
              <mat-option value="ERROR">
                <div class="option">
                  <mat-icon class="canceled-icon" svgIcon="error" ></mat-icon>
                  <p>Error</p>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="active-container">
          <mat-chip-option (selectionChange)="onActiveTransactionSelectionChanged($event)">Active transactions
          </mat-chip-option>
        </div>
        <div class="date-container">
          <p>Date</p>
          <mat-form-field appearance="outline">
            <mat-date-range-input
              [rangePicker]="datePicker">
              <input [formControl]="startDate" matStartDate placeholder="Start">
              <input [formControl]="endDate" matEndDate placeholder="End">
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #datePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <div class="banner column-banner">
    <table [dataSource]="transactions.content" class="mat-elevation-z8" mat-table matSort matSortActive="date"
           matSortDirection="asc" matSortDisableClear>

      <!-- Service Column -->
      <ng-container matColumnDef="service-name">
        <th *matHeaderCellDef mat-header-cell> Service</th>
        <td *matCellDef="let element" class="cell-payment-type" mat-cell><img
          [alt]="element.service + 'payment service' " [src]="'assets/' + element.serviceName + '.png'"></td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="timestamp">
        <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header=""> Date</th>
        <td *matCellDef="let element" class="cell-amount"
            mat-cell> {{element.timestamp | date:"dd MMM yyyy HH:mm" }} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell> Amount</th>
        <td *matCellDef="let element" class="cell-amount" mat-cell> $ {{element.amount}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell> Status</th>
        <td *matCellDef="let element" class="cell-amount" mat-cell>
          <mat-icon *ngIf="element.status == 'SUCCESS'" class="finished-icon " matTooltip="Success">check_circle_outline</mat-icon>
          <mat-icon *ngIf="element.status == 'FAILED'" class="canceled-icon " matTooltip="Failed">error_outline</mat-icon>
          <mat-icon *ngIf="element.status == 'ERROR'" class="canceled-icon " matTooltip="Error">highlight_off</mat-icon>
          <mat-icon *ngIf="element.status == 'ACTIVE'" class="active-icon " >cached</mat-icon>
        </td>
      </ng-container>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-paginator (page)="onPaginatorChange($event)" [length]="transactions.numberOfElements"
                   [pageSizeOptions]="[20,40,100]" [pageSize]="transactions.pageable.pageSize"
                   aria-label="Select page of users"></mat-paginator>
  </div>
</div>
