<app-header></app-header>
<div class="section">
  <div class="banner main-banner">
    <div class="left-container">
      <h1><span>Payment History</span></h1>
      <h2>See all payments associated with your company. Use advanced search and filters to learn more about specific
        payments.</h2>

    </div>
    <div class="right-container">
      <img
        alt="Payment Service Provider" src="https://d18fuqpnk61mcc.cloudfront.net/build/images/resources/banner.svg">
    </div>
  </div>
</div>
<div class="section">
  <div class="banner">
    <div class="filter">
      <form class="filter-form">
        <div class="service-container">
          <p>Service</p>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Service" >
              <mat-option>None</mat-option>
              <mat-option value="Bitcoin" >
                <div class="option">

                  <img alt="Bitcoin image" src="../../../assets/bitcoin-service.png">
                  <p>Bitcoin</p>
                </div>
              </mat-option>
              <mat-option value="Bank Card">
                <div class="option">
                  <img alt="Bank Card image" src="assets/bank-card-service.png">
                  <p>Card</p>
                </div>
              </mat-option>
              <mat-option value="PayPal">
                <div class="option">
                  <img alt="PayPal image" src="../../../assets/paypal-service.png">
                  <p>PayPal</p>
                </div>
              </mat-option>
              <mat-option value="QR code">
                <div class="option">
                  <img alt="QR code image" src="../../../assets/qr-code-service.png">
                  <p>QR code</p>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="status-container">
          <p>Status</p>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Status">
              <mat-option>None</mat-option>
              <mat-option value="SUCCESS">
                <div class="option">
                  <div>
                    <mat-icon class="finished-icon" svgIcon="finished"></mat-icon>
                  </div>
                  <p>Successful</p>
                </div>
              </mat-option>
              <mat-option value="FAILED">
                <div class="option">
                  <mat-icon class="canceled-icon" svgIcon="failed"></mat-icon>
                  <p>Failed</p>
                </div>
              </mat-option>
              <mat-option value="ERROR">
                <div class="option">
                  <mat-icon class="canceled-icon" svgIcon="error"></mat-icon>
                  <p>Error</p>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
<!--        <div class="active-container">-->
<!--        </div>-->
        <div class="date-container">
          <p>Date</p>
          <mat-form-field appearance="outline">
            <mat-date-range-input
              [formGroup]="filterForm"
              [rangePicker]="datePicker">
              <input [formControl]="startDate" matStartDate placeholder="Start">
              <input [formControl]="endDate" matEndDate placeholder="End">
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #datePicker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <div class="banner column-banner">
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort matSortActive="date"
           matSortDirection="asc" matSortDisableClear>

      <!-- Service Column -->
      <ng-container matColumnDef="service">
        <th *matHeaderCellDef mat-header-cell> Service</th>
        <td *matCellDef="let element" class="cell-payment-type" mat-cell><img
          [alt]="element.service + 'payment service' " [src]="'assets/' + element.service + '.png'"></td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th *matHeaderCellDef disableClear mat-header-cell mat-sort-header=""> Date</th>
        <td *matCellDef="let element" class="cell-amount" mat-cell> {{element.date | date:"dd MMM yyyy HH:mm" }} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell> Description</th>
        <td *matCellDef="let element" class="cell-desc" mat-cell> {{element.description}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell> Amount</th>
        <td *matCellDef="let element" class="cell-amount" mat-cell> $ {{element.amount}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell> Status</th>
        <td *matCellDef="let element" class="cell-amount" mat-cell>
          <mat-icon *ngIf="element.status == 'finished'" class="finished-icon ">check_circle_outline</mat-icon>
          <mat-icon *ngIf="element.status == 'failed'" class="canceled-icon ">error_outline</mat-icon>
          <mat-icon *ngIf="element.status == 'error'" class="canceled-icon ">highlight_off</mat-icon>
          <mat-icon *ngIf="element.status == 'active'" class="active-icon ">cached</mat-icon>
        </td>
      </ng-container>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
