<app-header></app-header>
<div class="section">
  <div class="banner main-banner">
    <div class="left-container">
      <h1><span>Active Services</span></h1>
      <h2>Here you can manage active payment services for your business. Only active services will be available for your
        customers to use.</h2>
      <mat-list>
        <mat-list-item *ngFor="let service of activeServices">
          <h5 matListItemTitle>{{service.paymentMethod.name}}</h5>
          <span matListItemLine>{{service.dateAdded | date}}</span>
          <img [alt]="service.paymentMethod.serviceName + 'image'" [src]="'/assets/' + service.paymentMethod.serviceName + '.png'"
               matListItemAvatar>
          <button (click)="removePaymentService(service)" color="accent" mat-stroked-button matListItemMeta>Remove
          </button>
        </mat-list-item>

      </mat-list>
    </div>
    <div class="right-container">
      <img
        alt="Payment Service Provider"
        src="https://d18fuqpnk61mcc.cloudfront.net/build/images/payment-service-providers/api-banking-solution-payment-service-providers.svg">
    </div>
  </div>
</div>
<div class="section">
  <div class="section-title">
    <h2><span>All Available Services</span></h2>
  </div>
  <div *ngFor="let service of allPaymentServices; let i = index">
    <div *ngIf="i%2 == 0" class="banner reverse">
      <div class="right-container">
        <img
          [src]="service.imagePath" alt="Payment Service Provider">
      </div>
      <div class="left-container">
        <h1>{{service.name}}</h1>
        <p>{{service.description}}</p>
        <div class="submit-container">
          <button (click)="openDialog(service)" *ngIf="!checkIfActivated(service)" class="light-blue-green-btn">Add
          </button>
          <button *ngIf="checkIfActivated(service)" class="disabled-blue-green-btn" disabled>Added</button>
        </div>
      </div>
    </div>
    <div *ngIf="i%2 != 0" class="banner">
      <div class="left-container">
        <h3>{{service.name}}</h3>
        <p>{{service.description}}</p>
        <div class="submit-container">
          <button *ngIf="!checkIfActivated(service)" class="light-blue-green-btn">Add</button>
          <button *ngIf="checkIfActivated(service)" class="disabled-blue-green-btn" disabled>Added</button>
        </div>
      </div>
      <div class="right-container">
        <img
          [src]="service.imagePath" alt="Payment Service Provider">
      </div>
    </div>
  </div>

</div>
