<app-header></app-header>
<div class="homepage">
  <div class="banner">
    <img src="https://d18fuqpnk61mcc.cloudfront.net/build/images/home-banner-bg.svg" alt="" class="banner-bg" >
    <div class="text-content">
      <h1>API Platform for<br><span>Banking Integrations</span></h1>
      <h2>Open banking APIs to launch your products 10X faster</h2>
      <a class="blue-green-btn" [routerLink]="'/signup'">Sign up</a>
    </div>
    <div class="image-content">
      <img src="https://d18fuqpnk61mcc.cloudfront.net/build/images/decentro-banking-api-platform-banner.svg" alt="Decentro is a full-stack API banking platform for financial integrations.">
    </div>
  </div>
</div>
