<app-header></app-header>
<div class="homepage">
  <div class="banner">
    <img alt="" class="banner-bg" src="https://d18fuqpnk61mcc.cloudfront.net/build/images/home-banner-bg.svg">
    <div class="text-content">
      <h1>API Platform for<br><span>Banking Integrations</span></h1>
      <h2>Open banking APIs to launch your products 10X faster</h2>
      <div class="action-btns">
        <a [routerLink]="'/signup'" class="blue-green-btn">Sign up</a>
        <a [routerLink]="'/signin'" class="light-blue-green-btn">Sign in</a>
      </div>
    </div>
    <div class="image-content">
      <img alt="Decentro is a full-stack API banking platform for financial integrations."
           src="https://d18fuqpnk61mcc.cloudfront.net/build/images/decentro-banking-api-platform-banner.svg">
    </div>
  </div>
</div>
