/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette, 200);
$accent: mat.define-palette(mat.$teal-palette, 600);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($theme);

.blue-green-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: max-content;
  margin-top: 50px;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 100px;
  color: #fff;
  border: none;
  background: transparent linear-gradient(90deg, #3a36c6, #66ceac) 0 0;
  text-decoration: none !important;
  transition: 0.5s all ease-in;
}

.light-blue-green-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: max-content;
  margin-top: 50px;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 100px;
  color: rgba(58, 54, 198, 0.8);
  border: none;
  background: transparent linear-gradient(90deg, rgba(58, 54, 198, 0.37), rgba(102, 206, 172, 0.58)) 0 0;
  text-decoration: none !important;
  transition: 0.5s all ease-in;
}

.disabled-blue-green-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: max-content;
  margin-top: 50px;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 100px;
  color: #8b8b8b;
  border: none;
  background: transparent linear-gradient(90deg, #c1c1c1, rgb(120 120 120 / 58%)) 0 0;
  text-decoration: none !important;
  transition: 0.5s all ease-in;
}

.light-red-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: max-content;
  margin-top: 50px;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 100px;
  color: #ffffff;
  border: none;
  background: transparent linear-gradient(90deg, #c53a3a, rgb(253, 66, 66)) 0 0;
  text-decoration: none !important;
  transition: 0.5s all ease-in;
}

.light-red-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: max-content;
  margin-top: 50px;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 100px;
  color: #ffffff;
  border: none;
  background: transparent linear-gradient(90deg, #c77373, rgb(255 174 174)) 0 0;
  text-decoration: none !important;
  transition: 0.5s all ease-in;
}

.disabled-simple-blue-btn {
  font-weight: 600;
  line-height: 20px;
  border-radius: 100rem;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  color: darkgray;
  border: solid 3px transparent;
  background-color: #d3d3d3a6;
  transition: 0.5s all ease-in;
}

.simple-blue-btn {
  cursor: pointer;
  font-weight: 600;
  line-height: 20px;
  border-radius: 100rem;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  color: #3f51b5b8;
  border: solid 3px transparent;
  background-color: rgb(58 54 198 / 6%);
  transition: 0.5s all ease-in;
}

.simple-blue-btn:hover {
  box-shadow: none;
  color: #3a36c6;
}

.simple-red-btn {
  cursor: pointer;
  font-weight: 600;
  line-height: 20px;
  border-radius: 100rem;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  color: #ff7171c9;
  border: solid 3px transparent;
  background-color: #ffa0a029;
  transition: 0.5s all ease-in;
}

.simple-red-btn:hover {
  box-shadow: none;
  color: #c53a3a;
}

input {
  font-size: 16px !important;
}

:root {
  --discash-green: #bae1a2;
  --discash-red: #e1a2a2;
  --discash-blue: #769aeba6;
  --background-teal: #e6f4ff;
  --light-gray: rgb(242 242 242);
}
