<div class="signup">
  <div class="discash-banner">
    <svg aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14 cancel-banner" data-icon="arrow-left"
         data-prefix="fas"
         focusable="false" role="img" routerLink="/"
         viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"
        fill="currentColor"></path>
    </svg>
    <img alt="banner" class="banner-img" src="https://d18fuqpnk61mcc.cloudfront.net/build/images/signup-bg-banner.svg">
  </div>
  <div class="signup-section">
    <div class="form-section">
      <svg aria-hidden="true" class="svg-inline--fa fa-arrow-left fa-w-14 go-back-arrow" data-icon="arrow-left"
           data-prefix="fas" focusable="false"
           role="img" routerLink="/" viewBox="0 0 448 512"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"
          fill="currentColor"></path>
      </svg>
      <div class="signup-header"><img alt="logo" class="discash-logo" src="assets/logo.png">
        <h1>Help us out with some details, and we’ll reach out to you!</h1></div>
      <div class="input-section">
        <form [formGroup]="form" autocomplete="off">
          <div class="inputs">
            <div class="company-inputs input-row">
              <div class="company-name-input input-block">
                <div class="required-field-container">
                  <p class="input-label company-name-label" id="companyNameLabel">
                    Email</p>
                </div>

                <mat-form-field appearance="outline">
                  <input (keyup.enter)="passwordInput.focus()" [formControl]="email" autocomplete="username"
                         class="email"
                         data-field="email" data-label="emailLabel" data-required="emailRequired"
                         matInput name="email" placeholder="" type="text">
                </mat-form-field>
              </div>
              <div class="password-input input-block">
                <div class="required-field-container"><p class="input-label" id="passwordLabel">Password</p></div>
                <mat-form-field appearance="outline">
                  <input #passwordInput (keyup.enter)="onSignIn()"
                         [formControl]="password"
                         [type]="hide ? 'password' : 'text'"
                         aria-label="Password"
                         autocomplete="current-password" matInput placeholder="Password">

                  <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                          mat-icon-button
                          matSuffix type="button">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

                </mat-form-field>

              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="error-placeholder">
        <div *ngIf="error" class="error-container">
          <p>{{error}}</p>
        </div>
      </div>

      <div *ngIf="!isLoading" class="submit-container">
        <button (click)="onSignIn()" class="blue-green-btn" style="margin-top: 10px">Sign in<span id="loader"></span>
        </button>

      </div>
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>
